@define-color black #181818;
@define-color white #f8eaea;
@define-color red #fc5f72;
@define-color green #00f5d4;
@define-color blue #c8616f;
@define-color yellow #ffb703;
@define-color magenta #ff80ab;
@define-color cyan #9aa0b8;
