* {
    border-radius: 5px;
    outline: none;
}

window {
    font-size: 28px;
    font-family: "Roboto Mono Medium";
    background-color: rgba(17, 17, 29, 0.9);
    color: rgba(252, 95, 114, 1);
}

#entry {
    padding: 0.25em;
}

#entry:selected {
    background: rgba(252, 95, 114, 1);
}

#text:selected {
    font-weight: bold;
    background: none;
    color: rgba(17, 17, 29, 1);
}

#input {
    background-color: rgba(17, 17, 29, 0.5);
    color: rgba(252, 95, 114, 1);
    padding: 0.25em;
    border-color: rgba(252, 95, 114, 1);
}
